@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  background-color: #0d001a;
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
}

::selection {
  background-color: #6D00FA;
  color: rgb(255, 255, 255);
}

